<li class="list-group-item list-group-item-info">

<!-- <ul id="users_list">
	<% @tasks.each do |task| %>
	<li data-userid="<%= task.id %>" class="<%='winner' if task.winner%>"><%= task.name %></li>
	<% end %>
</ul> -->
<ul id="users_list">
 <li data-userid="<%= task.id %>" class="<%='winner' if task.winner%>"><%= task.name %></li>
</ul>
  <span id="button" class="edit">
    <%= link_to edit_task_path(task), remote: true do %>
      <button class="btn btn-primary btn-xs">Edit</button>
    <% end %>

    
    <%= link_to task, remote: true, method: :delete,
        data: { confirm: 'Are you sure?' } do %>
      <button class="btn btn-danger btn-xs">Delete!</button>
    <% end %>
  </span>
</li>


